.results {
  display: flex;
  padding: 75px 85px;
  background-color: rgba(245, 246, 247, 1);
  flex-direction: column;
  justify-content: space-between;
  gap: 50px;
}

.results__title {
  margin: 0;
  color: black;
  font-family: "Roboto Slab", sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
}

.results__button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.results__button-text {
  width: 288px;
  height: 64px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border: none;
  background-color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  cursor: pointer;
}

.results__button-text_hidden {
  display: none;
}

.results__button-text:hover {
  background-color: rgba(232, 232, 232, 1);
}

@media screen and (min-width: 1251px) {
  .results__title {
    align-self: center;
    padding-right: 960px;
  }
}

@media screen and (min-width: 400px) and (max-width: 800px) {
  .results {
    padding: 35px;
    gap: 35px;
  }
  .results__title {
    font-size: 30px;
    line-height: 34px;
  }
  .results__button-text {
    width: 240px;
    height: 56px;
    background-color: #fff;
  }
}

@media screen and (min-width: 300px) and (max-width: 399px) {
  .results {
    padding: 30px 20px;
  }
  .results__title {
    font-size: 30px;
    line-height: 34px;
  }
  .results__button-text {
    width: 240px;
    height: 56px;
    background-color: #fff;
  }
}
