@import url(../../vendor/fonts.css);
@import url(../../vendor/normalize.css);

.app {
  margin: 0;
  padding: 0;
}

.app__cards {
  visibility: visible;
}
.app__cards_hidden {
  display: none;
}

.preloader {
  visibility: visible;
}
.preloader-hidden {
  display: none;
}

.app__nothing {
  visibility: visible;
}
.app__nothing_hidden {
  display: none;
}

.app__home {
  background-image: url("../../images/TopBackground.svg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 576px;
  width: 100%;
}

.app__saved {
  background-color: white;
  height: 576px;
  width: 100%;
}

.modal__info {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.52px;
  display: flex;
  flex-direction: column;
  color: rgba(47, 113, 229, 1);
}

.modal__input {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
  display: flex;
  height: 32px;
  border-bottom: 1px solid rgba(0, 0, 0, 1);
  border-top: none;
  border-left: none;
  border-right: none;
  margin-bottom: 24px;
  color: rgba(0, 0, 0, 1);
}

.modal__input:not(:focus):empty {
  border-bottom: 1px solid rgba(230, 232, 235, 1);
  color: rgba(230, 232, 235, 1);
}

@media screen and (min-width: 500px) and (max-width: 900px) {
  .app__home {
    height: 400px;
    width: auto;
  }
  .app__saved {
    height: 400px;
    width: auto;
  }
}

@media screen and (min-width: 320px) and (max-width: 499px) {
  .app__home {
    height: 536px;
    width: auto;
  }
}
