.main {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 104px;
  box-sizing: border-box;
}

.header-main {
  background-image: url("../../images/TopBackground.svg");
  background-position: center center;
  background-size: 1440px;
}

.main__title-paragraph {
  display: flex;
  flex-direction: column;
  gap: 32px;
  color: white;
}

.main__title {
  margin: 0px;
  max-width: 608px;
  height: 128px;
  font-family: "Roboto Slab", serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px;
}

.main__paragraph {
  margin: 0;
  padding: 0;
  max-width: 608px;
  font-family: "Roboto", serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.main__search-button-input {
  padding-top: 44px;
  position: relative;
}

.main__search-button {
  padding: 0px;
  width: 168px;
  height: 64px;
  border-radius: 100px;
  background: #2f71e5;
  position: absolute;
  right: 0px;
  bottom: 0px;
  box-sizing: border-box;
  text-align: center;
  font-family: "Roboto", serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  color: white;
  border-style: none;
}

.main__search-button:hover {
  cursor: pointer;
  background: #347eff;
}

.main__search-button:active {
  background: #2a65cc;
}

.main__search-input-container {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  padding-left: 24px;
  box-sizing: border-box;
  border-radius: 100px;
  border-color: #d1d2d6;
  background-color: white;
  /* padding: 0; */
  width: 608px;
  height: 64px;
  font-family: "Roboto", serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  border-style: none;
}

.main__search-input {
  width: 376px;
  height: 22px;
  border: none;
}

.main__search-input:active {
  border: none;
}

@media screen and (max-width: 900px) {
  .main {
    padding-top: 38px;
    padding-bottom: 48px;
  }

  .main__title {
    max-width: 385px;
    height: 80px;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
  }

  .main__paragraph {
    max-width: 452px;
    height: 48px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }

  .main__title-paragraph {
    gap: 16px;
  }

  .main__search-input-container {
    max-width: 448px;
    height: 56px;
  }

  .main__search-button {
    width: 160px;
    height: 56px;
  }

  .main__search-button-input {
    padding-top: 24px;
  }
}

@media screen and (max-width: 470px) {
  .main__paragraph {
    height: 72px;
    padding-bottom: 122px;
  }

  .main__search-button-input {
    padding: 0px;
  }

  .main__title {
    margin: 0px;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
  }

  .main__search-input-container {
    width: 288px;
    height: 56px;
  }
  .main__search-button {
    position: relative;
    width: 288px;
    height: 56px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
  }
  .main__form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}
