.header__section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding-left: 100px;
  padding-right: 100px;
  border-bottom: 0.05px solid gray;
  box-sizing: border-box;
}

.header__links {
  text-decoration: none;
}

.header__title {
  color: white;
  font-family: "Roboto Slab", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  cursor: pointer;
}

.header__options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  gap: 50px;
}

.header__home {
  color: white;
  border-bottom: 3px solid #fff;
  height: 80px;
  width: 68px;
  justify-content: center;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header__button-signin {
  width: 176px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 40px;
  background: none;
  color: white;
  cursor: pointer;
}

.header__button-signin:hover {
  opacity: 0.5;
}

.header__articles {
  color: white;
}

.header__profile-button {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border: 2px solid rgba(255, 255, 255, 1);
  background-color: transparent;
  border-radius: 40px;
  width: 112px;
  height: 40px;
  cursor: pointer;
}

.header__name {
  color: white;
}

.header__pic {
  background: none;
  border: none;
  display: flex;
}

.header__image {
  width: 24px;
  height: 24px;
}

@media screen and (min-width: 451px) and (max-width: 800px) {
  .header__section {
    height: 66px;
    padding-right: 35px;
    padding-left: 35px;
  }

  .header__options {
    gap: 20px;
  }

  .header__home {
    width: 64px;
    height: 66px;
  }

  .header__button-signin {
    width: 152px;
    height: 40px;
  }
}

@media screen and (min-width: 300px) and (max-width: 499px) {
  .header__section {
    height: 56px;
    max-width: 499px;
    padding: 0 20px;
    border-bottom: 0.05px solid gray;
    box-sizing: border-box;
  }
  .header__section_menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .header__title {
    font-size: 16px;
    color: white;
  }
  .header__title-white {
    color: white;
    font-family: "Roboto Slab", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
  }
  .header__menu {
    background: none;
    border: none;
  }
  .header__menu-pic {
    height: 24px;
    width: 24px;
  }
}
