.footer__section {
  display: flex;
  height: 80px;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 100px;
  padding-left: 100px;
}

.footer__copyright {
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: rgba(182, 188, 191, 1);
}

.footer__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: black;
}

.footer__names {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
}

.footer__icons {
  display: flex;
  flex-direction: row;
  gap: 25px;
  margin: 0;
  padding: 0;
}

.footer__icon-item {
  list-style-type: none;
}

.footer__icon {
  width: 24px;
}

.footer__link {
  text-decoration: none;
}
.footer__name {
  display: flex;
  align-items: center;
  color: rgba(26, 27, 34, 1);
}

@media screen and (min-width: 640px) and (max-width: 900px) {
  .footer__section {
    height: 64px;
    padding-left: 25px;
    padding-right: 25px;
  }
  .footer__content {
    gap: 40px;
  }
  .footer__icons {
    gap: 25px;
  }
}

@media screen and (min-width: 300px) and (max-width: 639px) {
  .footer__section {
    flex-direction: column-reverse;
    max-height: 176px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 100px;
  }
  .footer__content {
    height: 88px;
    align-items: flex-start;
    padding-bottom: 20px;
  }
  .footer__name {
    margin: 0;
  }
  .footer__names {
    display: flex;
    flex-direction: column;
    width: 74px;
    gap: 15px;
    margin: 0;
  }
  .footer__copyright {
    max-width: 288px;
  }
}
