.saved-news-page {
  display: flex;
  flex-direction: column;
  gap: 28px;
  padding: 40px 104px 56px;
  box-sizing: border-box;
}

.saved-news-page__header {
  margin: 0;
  color: rgba(26, 27, 34, 0.5);
  font-family: "Roboto" serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.saved-news-page__description-container {
  max-width: 530px;
}

.saved-news-page__description {
  margin: 0;
  padding: 2px;
  font-family: "Roboto Slab" serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 46px;
}

.saved-news-page__conclusion {
  margin: 0;
  gap: 5px;
  color: #1a1b22;
  font-family: "Roboto", serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.saved-news-page__conclusion-bold {
  font-weight: 700;
}

@media screen and (max-width: 900px) {
  .saved-news-page {
    padding: 24px 40px 32px;
    gap: 16px;
  }

  .saved-news-page__header {
    font-size: 14px;
  }

  .saved-news-page__description {
    margin: 0px;
    font-size: 30px;
    line-height: 34px;
  }

  .saved-news-page__description-container {
    height: 68px;
    max-width: 336px;
  }
}

@media screen and (max-width: 470px) {
  .saved-news-page {
    gap: 20px;
    padding-top: 8px;
    padding-left: 16px;
  }

  .saved-news-page__description {
    padding-bottom: 0px;
  }

  .saved-news-page__description-container {
    padding-bottom: 26px;
  }

  .saved-news-page__header {
    font-size: 12px;
  }
}
